<div id="skills" class="relative z-50 border-t my-12 lg:my-24 border-[#25213b]">
  <img src="assets/section.svg" alt="Hero" class="absolute top-0 -z-10 w-full">
  <div
    class="w-[100px] h-[100px] bg-violet-100 rounded-full absolute top-6 left-[42%] translate-x-1/2 filter blur-3xl opacity-20">
  </div>

  <div class="flex justify-center -translate-y-[1px]">
    <div class="w-3/4">
      <div class="h-[1px] bg-gradient-to-r from-transparent via-violet-500 to-transparent w-full"></div>
    </div>
  </div>

  <div class="flex justify-center my-5 lg:py-8">
    <div class="flex items-center">
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
      <span class="bg-[#1a1443] w-fit text-white p-2 px-5 text-xl rounded-md">
        {{ 'app.skills.title' | translate }}
      </span>
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
    </div>
  </div>

  <div class="w-full my-12 px-4 md:px-0">
    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
      <div
        #cardRef
        *ngFor="let skill of skills; let id = index"
        class="w-full h-full h-fit flex flex-col items-center justify-center transition-all duration-500 rounded-lg group relative lg:hover:scale-[1.10] cursor-pointer z-10 hover:z-50 origin-center glow-container-experience-1 glow-container relative overflow-hidden p-[3px] rounded-xl"
        (mouseenter)="onCardMouseEnter(cardRef)"
        (mouseleave)="onCardMouseLeave(cardRef)"
        (mousemove)="onCardMouseMove(cardRef, $event)"
      >
        <div class="blob"></div>
        <div class="fakeblob"></div>
        <div
          class="h-full w-full rounded-lg border border-[#1f223c] bg-[#11152c] shadow-none shadow-gray-50 group-hover:border-violet-500 transition-all duration-500">
          <div class="flex -translate-y-[1px] justify-center">
            <div class="w-3/4">
              <div
                class="h-[1px] w-full bg-gradient-to-r from-transparent via-violet-500 to-transparent">
              </div>
            </div>
          </div>
          <div class="h-full flex flex-col items-center justify-center gap-3 px-2 py-4">
            <div class="h-8 sm:h-10">
              <img
                [ngSrc]="getSkillImage(skill)"
                [alt]="skill"
                [width]="40"
                [height]="40"
                class="h-full w-auto rounded-lg"
                [priority]="false"
              >
            </div>
            <p class="text-white text-sm sm:text-lg text-center">
              {{ skill }}
            </p>
          </div>
        </div>
      </div>
    </div>


<!--    <div class="marquee-container">-->
<!--      <div class="marquee-content">-->
<!--        <div class="flex">-->
<!--          <div -->
<!--            *ngFor="let skill of skills; let id = index" -->
<!--            class="w-36 min-w-fit h-fit flex flex-col items-center justify-center transition-all duration-500 m-3 sm:m-5 rounded-lg group relative hover:scale-[1.15] cursor-pointer"-->
<!--          >-->
<!--            <div-->
<!--              class="h-full w-full rounded-lg border border-[#1f223c] bg-[#11152c] shadow-none shadow-gray-50 group-hover:border-violet-500 transition-all duration-500">-->
<!--              <div class="flex -translate-y-[1px] justify-center">-->
<!--                <div class="w-3/4">-->
<!--                  <div-->
<!--                    class="h-[1px] w-full bg-gradient-to-r from-transparent via-violet-500 to-transparent">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="flex flex-col items-center justify-center gap-3 p-6">-->
<!--                <div class="h-8 sm:h-10">-->
<!--                  <img-->
<!--                    [src]="getSkillImage(skill)"-->
<!--                    [alt]="skill"-->
<!--                    width="40"-->
<!--                    height="40"-->
<!--                    class="h-full w-auto rounded-lg"-->
<!--                  >-->
<!--                </div>-->
<!--                <p class="text-white text-sm sm:text-lg">-->
<!--                  {{ skill }}-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Duplicate for seamless scrolling &ndash;&gt;-->
<!--        <div class="flex">-->
<!--          <div *ngFor="let skill of skills; let id = index"-->
<!--               class="w-36 min-w-fit h-fit flex flex-col items-center justify-center transition-all duration-500 m-3 sm:m-5 rounded-lg group relative hover:scale-[1.15] cursor-pointer">-->
<!--            <div-->
<!--              class="h-full w-full rounded-lg border border-[#1f223c] bg-[#11152c] shadow-none shadow-gray-50 group-hover:border-violet-500 transition-all duration-500">-->
<!--              <div class="flex -translate-y-[1px] justify-center">-->
<!--                <div class="w-3/4">-->
<!--                  <div-->
<!--                    class="h-[1px] w-full bg-gradient-to-r from-transparent via-violet-500 to-transparent">-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="flex flex-col items-center justify-center gap-3 p-6">-->
<!--                <div class="h-8 sm:h-10">-->
<!--                  <img [src]="getSkillImage(skill)" [alt]="skill" width="40" height="40"-->
<!--                       class="h-full w-auto rounded-lg">-->
<!--                </div>-->
<!--                <p class="text-white text-sm sm:text-lg">-->
<!--                  {{ skill }}-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
