<div id="about" class="my-12 lg:my-16 relative">
  <div class="hidden lg:flex flex-col items-center absolute top-16 -right-8">
        <span class="bg-[#1a1443] w-fit text-white rotate-90 p-2 px-5 text-xl rounded-md">
            ABOUT ME
        </span>
    <span class="h-36 w-[2px] bg-[#1a1443]"></span>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
    <div class="order-2 lg:order-1">
      <p class="font-medium mb-5 text-[#16f2b3] text-xl uppercase">
        Who I am?
      </p>
      <p class="text-gray-200 text-sm lg:text-lg">
        {{ personalData.description }}
      </p>
    </div>
    <div class="flex justify-center order-1 lg:order-2 h-[280px] min-h-[280px]">
      <img [src]="personalData.profile" alt="César Borges"
           class="rounded-lg transition-all duration-1000 grayscale hover:grayscale-0 hover:scale-110 cursor-pointer w-[140px] h-[280px] object-cover" />
    </div>
  </div>
</div>
