<div id="contact" class="my-12 lg:my-16 relative mt-24 text-white">
  <div class="hidden lg:flex flex-col items-center absolute top-24 -right-8">
        <span class="bg-[#1a1443] w-fit text-white rotate-90 p-2 px-5 text-xl rounded-md">
            {{ 'app.contact.title'|translate }}
        </span>
    <span class="h-36 w-[2px] bg-[#1a1443]"></span>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16 items-center">
    <div class="lg:w-3/4">
      <div class="flex flex-col gap-5 lg:gap-9">
        <p class="text-sm md:text-xl flex items-center gap-3">
          <fa-icon [icon]="faEnvelope"
                   class="bg-[#8b98a5] w-8 h-8 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="1x">
          </fa-icon>
          <a [href]="'mailto:' + personalData.email">{{ personalData.email }}</a>
        </p>

        <p class="text-sm md:text-xl flex items-center gap-3">
          <fa-icon [icon]="faPhone"
                   class="bg-[#8b98a5] w-8 h-8 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="1x">
          </fa-icon>
          <a [href]="'https://wa.me/' + personalData.phone + '?text=Hello'">{{ personalData.phone }}</a>
        </p>

        <p class="text-sm md:text-xl flex items-center gap-3">
          <fa-icon [icon]="faLocationDot"
                   class="bg-[#8b98a5] w-8 h-8 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="1x">
          </fa-icon>
          <span>{{ personalData.address }}</span>
        </p>
      </div>

      <div class="mt-8 lg:mt-16 flex items-center gap-5 lg:gap-10">
        <a [href]="personalData.github" target="_blank">
          <fa-icon [icon]="faGithub"
                   class="bg-[#8b98a5] w-12 h-12 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="2x">
          </fa-icon>
        </a>

        <a [href]="personalData.linkedIn" target="_blank">
          <fa-icon [icon]="faLinkedin"
                   class="bg-[#8b98a5] w-12 h-12 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="2x">
          </fa-icon>
        </a>

        <a [href]="personalData.stackOverflow" target="_blank">
          <fa-icon [icon]="faStackOverflow"
                   class="bg-[#8b98a5] w-12 h-12 rounded-full hover:bg-[#16f2b3] hover:scale-110 transition-all duration-300 text-gray-800 cursor-pointer flex items-center justify-center"
                   size="2x">
          </fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
