<div id="education" class="relative z-50 border-t my-12 lg:my-24 border-[#25213b]">
  <img src="assets/section.svg" alt="Hero" class="absolute top-0 -z-10 w-full">

  <div class="flex justify-center -translate-y-[1px]">
    <div class="w-3/4">
      <div class="h-[1px] bg-gradient-to-r from-transparent via-violet-500 to-transparent w-full"></div>
    </div>
  </div>

  <div class="flex justify-center my-5 lg:py-8">
    <div class="flex items-center">
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
      <span class="bg-[#1a1443] w-fit text-white p-2 px-5 text-xl rounded-md">
                Educations
            </span>
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
    </div>
  </div>

  <div class="py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
      <div class="flex justify-center items-start">
        <div class="w-3/4 h-3/4">
          <app-animation-lottie [animationPath]="lottieFile"></app-animation-lottie>
        </div>
      </div>

      <div>
        <div class="flex flex-col gap-6">
          <div *ngFor="let education of educations" class="glow-card"
               [attr.data-identifier]="'education-' + education.id">
            <div class="p-3 relative text-white">
              <img src="assets/blur-23.svg" alt="Hero" class="absolute bottom-0 opacity-80">
              <div class="flex justify-center">
                <p class="text-xs sm:text-sm text-[#16f2b3]">
                  {{education.duration}}
                </p>
              </div>
              <div class="flex items-center gap-x-8 px-3 py-5">
                <div class="text-violet-500 transition-all duration-300 hover:scale-125">
                  <fa-icon [icon]="workspaceIcon" size="2x"></fa-icon>
                </div>
                <div>
                  <p class="text-base sm:text-xl mb-2 font-medium uppercase">
                    {{education.title}}
                  </p>
                  <p class="text-sm sm:text-base">{{education.institution}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
