<nb-layout>

  <nb-layout-column class="p-0 area">

    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer *ngIf="!production" fixed>
    <span class="mx-1">Size:</span>
    <span class="d-flex d-sm-none d-md-none d-lg-none d-xl-none d-xxl-none">MOB</span>
    <span class="d-none d-sm-flex d-md-none d-lg-none d-xl-none d-xxl-none">SM</span>
    <span class="d-none d-sm-none d-md-flex d-lg-none d-xl-none d-xxl-none">MD</span>
    <span class="d-none d-sm-none d-md-none d-lg-flex d-xl-none d-xxl-none">LG</span>
    <span class="d-none d-sm-none d-md-none d-lg-none d-xl-flex d-xxl-none">XL</span>
    <span class="d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-flex">XXL</span>
  </nb-layout-footer>

</nb-layout>
