<div id="experience" class="relative z-50 border-t my-12 lg:my-24 border-[#25213b]">
  <img src="assets/section.svg" alt="Hero" class="absolute top-0 -z-10 w-full">

  <div class="flex justify-center my-5 lg:py-8">
    <div class="flex items-center">
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
      <span class="bg-[#1a1443] w-fit text-white p-2 px-5 text-xl rounded-md">
        {{ 'app.experiences.title' | translate }}
      </span>
      <span class="w-24 h-[2px] bg-[#1a1443]"></span>
    </div>
  </div>

  <div class="py-8">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-16">
      <div class="flex justify-center items-start">
        <div class="w-full h-full">
          <div class="sticky top-0">
            <app-animation-lottie [animationPath]="lottieFile"></app-animation-lottie>
          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col gap-6">
          <div
            #cardRef
            *ngFor="let experience of experiences"
            [attr.data-identifier]="'experience-' + experience.id"
            (mouseenter)="onCardMouseEnter(cardRef)"
            (mouseleave)="onCardMouseLeave(cardRef)"
            (mousemove)="onCardMouseMove(cardRef, $event)"
            class="glow-container-experience-1 glow-container relative overflow-hidden p-[3px] rounded-xl"
          >
            <div class="blob"></div>
            <div class="fakeblob"></div>
            <div class="glow-card glow-card-experience-1 h-fit cursor-pointer border border-[#2a2e5a] transition-all duration-300 relative bg-[#101123] text-gray-200 rounded-xl hover:border-transparent w-full">
              <img ngSrc="assets/blur-23.svg" alt="Hero" class="absolute bottom-0 opacity-80" fill [priority]="false">
              <div class="flex items-center gap-x-8 px-6 py-5">
                <div class="text-violet-500 transition-all duration-300 hover:scale-125">
                  <fa-icon [icon]="workIcon" size="2x"></fa-icon>
                </div>
                <div>
                  <p class="text-base sm:text-lg mb-2 font-medium uppercase">
                    <span class="text-pink-500 font-bold">{{ experience.company }}</span>
                  </p>
                  <p class="text-sm sm:text-base text-white">
                    <span class="font-bold">{{'app.experiences.position' | translate}}: </span>{{ experience.title }}
                  </p>
                  <p class="text-sm sm:text-base text-white">
                    <span class="font-bold">{{ 'app.experiences.from' | translate }}: </span>{{ experience.duration.from | date }}
                  </p>
                  <p class="text-sm sm:text-base text-white">
                    <span class="font-bold">{{ 'app.experiences.to' | translate }}: </span>{{
                      experience.duration.to
                        ? (experience.duration.to | date)
                        : ('app.experiences.present' | translate)
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
