/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/*@import 'highlight.js/styles/tokyo-night-dark.min.css';*/
@import 'highlight.js/styles/monokai-sublime.css';
/*@import 'highlight.js/styles/routeros.min.css';*/

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
}

pre code.hljs {
  padding: 0;
  background: unset;
}

:root {
  --foreground-rgb: rgb(211, 216, 232);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
