<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-4 sticky-md-top h-100 pt-3">
      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Informações Pessoais:
        </nb-card-header>
        <nb-card-body class="p-2">
          <div class="row p-0 m-0">
            <div class="col-12 col-lg-3 col-xl-4 d-flex justify-content-center align-self-start p-0 m-0">
              <img [src]="curriculo.foto" class="profile" [alt]="curriculo.nome">
            </div>
            <div class="col-12 col-lg-9 col-xl-8 mt-3 mt-lg-0 p-1">
              <p class="p-0 m-0">
                <b>{{curriculo.nome}}</b>
              </p>
              <p class="p-0 m-0">{{curriculo.titulo}}</p>
              <p class="p-0 m-0 mb-2">{{curriculo.residencia}}</p>
              <p class="links p-0 m-0" *ngFor="let link of curriculo.links">
                <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a target="_blank" [href]="link.url">{{link.label}}</a>
              </p>

              <button class="mt-4" (click)="generateCurriculo()" nbButton status="info" fullWidth>
                <nb-icon icon="download-outline"></nb-icon>&nbsp;Currículo
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Auto Avaliação:
        </nb-card-header>
        <nb-card-body class="p-2">
          <div class="row m-0 p-0 py-1" *ngFor="let f of curriculo.frameworks">
            <div class="col text-center" style="max-width: 64px;">
              <fa-icon [icon]="f.icon" size="lg" [style.color]="f.iconColor" style="font-size: 1.3rem;"></fa-icon>
            </div>
            <div class="col d-flex align-content-center" style="padding-top: 3px;">
              <bar-rating [rate]="f.rate / 2" [max]="5" [readOnly]="true">
                <ng-template ratingInactive>
                  <fa-icon [icon]="icons.star" [fixedWidth]="true" size="lg" style="color: #d2d2d2"></fa-icon>
                </ng-template>
                <ng-template ratingActive>
                  <fa-icon [icon]="icons.star" [fixedWidth]="true" size="lg" style="color: #FECE00"></fa-icon>
                </ng-template>
                <ng-template ratingFraction>
                  <fa-icon [icon]="icons.fractionStar" [fixedWidth]="true" size="lg" style="color: #FECE00"></fa-icon>
                </ng-template>
              </bar-rating>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Sobre mim
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-12">
              <p class="highlight">{{curriculo.sobre}}</p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-7 col-lg-8 pt-3">
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Educação
        </nb-card-header>
        <nb-card-body style="min-height: 236px;">
          <ul class="px-3" *ngFor="let educacao of curriculo.educacao">
            <li><b>Instituição:&nbsp;</b>{{educacao.instituicao}}</li>
            <ul class="px-3">
              <li><b>Curso:&nbsp;</b>{{educacao.curso}}</li>
              <li><b>Status:&nbsp;</b>{{educacao.getStatus() | titlecase}}</li>
              <li><b>Conclusão:&nbsp;</b>{{educacao.conclusao | date : 'MM/yyyy'}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Formação Técnica
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3" *ngFor="let formacao of curriculo.formacao">
            <li class="fw-bold">{{formacao.curso}} - {{formacao.instituicao}}</li>
            <ul class="px-3" *ngIf="formacao.itens.length > 0">
              <li *ngFor="let item of formacao.itens">{{item}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Certificações
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3">
            <li *ngFor="let certificacao of this.curriculo.certificacoes">
              {{certificacao.data|date: 'MM/yyyy'}} - {{certificacao.nome}} - {{certificacao.instituicao}}
            </li>
          </ul>
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Outras capacitações:
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3">
            <li *ngFor="let capacitacoes of curriculo.outrasCapacitacoes">
              {{capacitacoes.nome}} - {{capacitacoes.empresa}}
            </li>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Conhecimentos adicionais
        </nb-card-header>
        <nb-card-body>
          <p class="highlight">{{curriculo.conhecimentosAdicionais}}</p>
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Experiência Profissional:
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3" *ngFor="let experiencia of curriculo.experiencias" style="list-style-type: disc;">
            <li class="fw-bold">
              <p class="p-0 m-0"><b>EMPRESA:</b>&nbsp;{{experiencia.empresa}}</p>
              <p class="p-0 m-0"><b>FUNÇÃO:</b>&nbsp;{{experiencia.funcao}}</p>
              <p class="p-0 m-0"><b>PERÍODO:</b>&nbsp;{{experiencia.periodo}}</p>
            </li>
            <ul class="px-4" *ngIf="experiencia.itens.length > 0">
              <li *ngFor="let item of experiencia.itens">{{item}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="pdf">
    <nb-card-body>
      <iframe [frameBorder]="0" width="100%" height="100%" [src]="data"></iframe>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #loadingPDF>
  <nb-card>
    <nb-card-body>Aguarde gerando pdf....</nb-card-body>
  </nb-card>
</ng-template>
