<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-4 sticky-md-top h-100 pt-3">
      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Informações Pessoais:
        </nb-card-header>
        <nb-card-body class="p-2">
          <div class="row p-0 m-0">
            <div class="col-12 col-lg-3 col-xl-4 d-flex justify-content-center align-self-start p-0 m-0">

              <img src="assets/imgs/perfil.jpg" class="profile" alt="Foto">

            </div>
            <div class="col-12 col-lg-9 col-xl-8 mt-3 mt-lg-0 p-1">
              <p class="p-0 m-0">
                <b>César Henrique</b>
              </p>
              <p class="p-0 m-0">Programador Sênior</p>
              <p class="p-0 m-0 mb-2">
                Brasília, DF, Brasil
              </p>
              <p class="links p-0 m-0" *ngFor="let link of links">
                <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a target="_blank" [href]="link.url">{{link.label}}</a>
              </p>

              <button class="mt-4" (click)="downloadPDF()" nbButton status="info" fullWidth>
                <nb-icon icon="download-outline"></nb-icon>&nbsp;Currículo
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Auto Avaliação:
        </nb-card-header>
        <nb-card-body class="p-2">
          <div class="row m-0 p-0 py-1" *ngFor="let f of getSortedFrameWorks()">
            <div class="col text-center" style="max-width: 64px;">
              <fa-icon [icon]="f.icon" size="lg" style="font-size: 1.3rem; color:{{f.iconColor}};"></fa-icon>
            </div>
            <div class="col d-flex align-content-center" style="padding-top: 3px;">
              <bar-rating [rate]="f.rate / 2" [max]="5" [readOnly]="true">
                <ng-template ratingInactive>
                  <fa-icon [icon]="icons.star" [fixedWidth]="true" size="lg" style="color: #d2d2d2"></fa-icon>
                </ng-template>
                <ng-template ratingActive>
                  <fa-icon [icon]="icons.star" [fixedWidth]="true" size="lg" style="color: #FECE00"></fa-icon>
                </ng-template>
                <ng-template ratingFraction>
                  <fa-icon [icon]="icons.fractionStar" [fixedWidth]="true" size="lg" style="color: #FECE00"></fa-icon>
                </ng-template>
              </bar-rating>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Sobre mim
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-12">
              <p class="highlight">
                Como profissional na área de TI adquiri experiência em desenvolvimento de software e sistemas em
                linguagens Java, PHP, Python, JavaScript/Typescript, Dart, C++, VBScript, Pascal, Banco de dados –
                Oracle,
                MySQL, MSSql, SQLite, Firebase, Node, desenvolvimento de aplicativos Android, experiencia em framework:
                laravel 5.8+, yii2, php-slim, zend2, angular6+, vue, ionic, react, frameworks visuais bootstrap 4-3,
                materialize,
                component pack primeng, primefaces, nebular.
              </p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-12 col-md-7 col-lg-8 pt-3">
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Educação
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3" *ngFor="let educacao of listaEducacao">
            <li><b>Instituição:&nbsp;</b>{{educacao.instituicao}}</li>
            <ul class="px-3">
              <li><b>Curso:&nbsp;</b>{{educacao.curso}}</li>
              <li><b>Status:&nbsp;</b>{{educacao.status | titlecase}}</li>
              <li><b>Conclusão:&nbsp;</b>{{educacao.conclusao | date : 'MM/yyyy'}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Formação Técnica
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3" *ngFor="let formacao of listaFormacao">
            <li class="fw-bold">{{formacao.curso}} - {{formacao.instituicao}}</li>
            <ul class="px-3" *ngIf="formacao.itens.length > 0">
              <li *ngFor="let item of formacao.itens">{{item}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Certificações
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3">
            <li *ngFor="let certificacao of listaCertificacoes">{{certificacao}}</li>
          </ul>
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Outras capacitações:
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3">
            <li *ngFor="let capacitacoes of listaOutrasCapacitacoes">{{capacitacoes.nome}}
              - {{capacitacoes.empresa}}</li>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Conhecimentos adicionais
        </nb-card-header>
        <nb-card-body>
          <p class="highlight">
            Outros conhecimentos e informações: GSuite, Social Login (facebook, google, git), telegram, Totvs RM api
            soap e estrutura de banco, SpCom api, sendgrid api, zabbix api, pusher, sockets, upload, sistemas legados
            em delphi e C#, DB2, java.
          </p>
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Experiência Profissional:
        </nb-card-header>
        <nb-card-body>
          <ul class="px-3" *ngFor="let experiencia of listaDeExperiencias" style="list-style-type: disc;">
            <li class="fw-bold">
              <p class="p-0 m-0"><b>EMPRESA:</b>&nbsp;{{experiencia.empresa}}</p>
              <p class="p-0 m-0"><b>FUNÇÃO:</b>&nbsp;{{experiencia.funcao}}</p>
              <p class="p-0 m-0"><b>PERÍODO:</b>&nbsp;{{experiencia.periodo}}</p>
            </li>
            <ul class="px-4" *ngIf="experiencia.itens.length > 0">
              <li *ngFor="let item of experiencia.itens">{{item}}</li>
            </ul>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
