<div class="container">
  <div class="row">
    <div class="col-4 sticky-top h-100 pt-3">
      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Informações Pessoais:
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-4 d-flex justify-content-center align-self-start">

              <nb-user
                size="giant"
                picture="assets/imgs/perfil.jpg"
                showName="false"
                showTitle="false"
              ></nb-user>

            </div>
            <div class="col-8">
              <p class="p-0 m-0">
                <b>César Henrique</b>
              </p>
              <p class="p-0 m-0">Programador Sênior</p>
              <p class="p-0 m-0 mb-2">
                Brasília, DF, Brasil
              </p>
              <p class="p-0 m-0" *ngFor="let link of links">
                <fa-icon [icon]="link.icon"></fa-icon>&nbsp;<a target="_blank" [href]="link.url">{{link.label}}</a>
              </p>

              <button class="mt-4" nbButton status="info" fullWidth>
                <nb-icon icon="download-outline"></nb-icon>&nbsp;Download PDF
              </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card @enterLeftAnimation>
        <nb-card-header>
          Sobre mim
        </nb-card-header>
        <nb-card-body>
          <p>
            Como profissional na área de TI adquiri experiência em desenvolvimento de software e sistemas em
            linguagens Java, PHP, Python, JavaScript/Typescript, Dart, C++, VBScript, Pascal, Banco de dados – Oracle,
            MySQL, MSSql, SQLite, Firebase, Node, desenvolvimento de aplicativos Android, experiencia em framework:
            laravel 5.8+, yii2, php-slim, zend2, angular6+, vue, ionic, react, frameworks visuais bootstrap 4-3, materialize,
            component pack primeng, primefaces, nebular.
          </p>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-8 pt-3">
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Educação
        </nb-card-header>
        <nb-card-body>
          <p class="p-0 m-0" *ngFor="let educacao of listaEducacao">{{educacao}}</p>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Formação Técnica
        </nb-card-header>
        <nb-card-body>

          <ul *ngFor="let formacao of listaFormacao">
            <li class="fw-bold">{{formacao.curso}} - {{formacao.instituicao}}</li>
            <ul *ngIf="formacao.itens.length > 0">
              <li *ngFor="let item of formacao.itens">{{item}}</li>
            </ul>
          </ul>


<!--          ● Curso Java Orientado a Objetos – Caelum FJ11-->
<!--          – Bibliotecas-->
<!--          – Orientação a Objetos-->
<!--          – Collections framework-->
<!--          ● Curso Java para web – Udemy-->
<!--          – Sockets-->
<!--          – DAO/MySqli/Json/XML-->
<!--          – Java 8 EE-->
<!--          Curso Android – Udemy-->
<!--          – Conceitos-->
<!--          – Interface Gráfica-->
<!--          – Manipulação de Dados-->
<!--          ● Curso PHP 7 – Udemy-->
<!--          – Sessions-->
<!--          – Orientação e Objetos-->
<!--          – Sistema de API em Json Rest/RestFull-->
<!--          ● Curso IONIC 4 – Udemy-->
<!--          – IONIC Creator-->
<!--          – API Integrations-->
<!--          – Estruturas-->
<!--          ● Curso KOTLIN Developer – Udemy-->
<!--          – Estruturas-->
<!--          – Creator-->
<!--          – Services-->
<!--          – Interceptor Creator-->
<!--          ● Curso Laravel 5.8 – Udemy-->
<!--          – Estruturas e Parâmetros-->
<!--          – MVC Eloquent / ORM / Tinker-->
<!--          – Cors, headers-->
<!--          – Eloquent-->
<!--          – Login API-->
<!--          ● SPA com Vue JS – Udemy-->
<!--          – Components-->
<!--          – Templates-->
<!--          – Sevices, Interceptors-->
<!--          – Axio e API-->
<!--          – Tratamento de Erros-->
<!--          ● Angular 8 – Udemy-->
<!--          – Components-->
<!--          – Node-->
<!--          – Interface-->
<!--          – WebPack-->
<!--          – Interceptor-->
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Certificações
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li *ngFor="let certificacao of listaCertificacoes">{{certificacao}}</li>
          </ul>
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Outras capacitações:
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li *ngFor="let capacitacoes of listaOutrasCapacitacoes">{{capacitacoes.nome}} - {{capacitacoes.empresa}}</li>
          </ul>
        </nb-card-body>
      </nb-card>
      <nb-card @enterRightAnimation>
        <nb-card-header>
          Conhecimentos adicionais
        </nb-card-header>
        <nb-card-body>
          Outros conhecimentos e informações: GSuite, Social Login (facebook, google, git), telegram, Totvs RM api
          soap e estrutura de banco, SpCom api, sendgrid api, zabbix api, pusher, sockets, upload, sistemas legados
          em delphi e C#, DB2, java.
        </nb-card-body>
      </nb-card>

      <nb-card @enterRightAnimation>
        <nb-card-header>
          Experiência Profissional:
        </nb-card-header>
        <nb-card-body>

          <ul *ngFor="let experiencia of listaDeExperiencias" style="list-style-type: none">
            <li class="fw-bold">
              <p class="p-0 m-0"><b>EMPRESA:</b>&nbsp;{{experiencia.empresa}}</p>
              <p class="p-0 m-0"><b>FUNÇÃO:</b>&nbsp;{{experiencia.funcao}}</p>
              <p class="p-0 m-0"><b>PERÍODO:</b>&nbsp;{{experiencia.periodo}}</p>
            </li>
            <ul *ngIf="experiencia.itens.length > 0">
              <li *ngFor="let item of experiencia.itens">{{item}}</li>
            </ul>
          </ul>



<!--          ● EMPRESA: Campanha Nacional das Escolas da Comunidade - CNEC-->
<!--          ● FUNÇÃO: Programador Pleno-->
<!--          ● PERÍODO: 01/2020 - 06/2020-->
<!--          -->
<!--          - Linguagens: PHP 5, 7.4 (Laravel, Yii2), Typescript (Angular, Vue, Ionic), Javascript/Jquery, python.-->
<!--          - Api/WebService: Rest, SOAP, integração (TOTVS, Cielo, SPCOM, Google)-->
<!--          - Frameworks visuais: Bootstrap, Material, Primefaces.-->
<!--          - DB: SqlServer, MySql.-->
<!--          -->
<!--          -->
<!--          ● EMPRESA: Sebrae DF-->
<!--          ● FUNÇÃO: Programador Pleno-->
<!--          ● PERÍODO: 07/2019 - 12/2019-->
<!--          - Linguagens: PHP 5 (Laravel, PHPSlim), Javascript/Jquery-->
<!--          - Api/WebService: Rest, SOAP, integração (TOTVS, LDAP)-->
<!--          - DB: SqlServer, MySql.-->
<!--          ● EMPRESA: SdRedes-->
<!--          ● FUNÇÃO: Programador Pleno / Coordenador de Desenvolvimento-->
<!--          ● PERÍODO: 08/2018 - 10/2019-->
<!--          - Técnologias: PHP 7+ (Laravel, PHPSlim), Typescript (Angular, Vue, Ionic, React), Javascript/Jquery,-->
<!--          python, pascal.-->
<!--          - Api/WebService: Rest, SOAP, integração (TOTVS, SendGrid, Sophos firewall, LDAP, Google, Facebook)-->
<!--          - DB: SqlServer, MySql, mongo, firebase.-->
<!--          ● EMPRESA: Recopeças Industrial LTDA (PLATOFLEX)-->
<!--          ● FUNÇÃO: Programador-->
<!--          ● PERÍODO: 03/2014 - 07/2018-->
<!--          - Linguagens: PHP 5+ (PHPSlim, Yii2), Typescript (Angular), Javascript/Jquery.-->
<!--          - Api/WebService: Rest, SOAP, integração (Cigam ERP)-->
<!--          - Frameworks visuais: Bootstrap, Material.-->
<!--          - DB: SqlServer, MySql, Oracle XE, SQLite. (Ms Access em algumas situações)-->

<!--          ● EMPRESA: Recopeças Industrial LTDA (PLATOFLEX)-->
<!--          ● FUNÇÃO: Tecnico TI-->
<!--          ● PERÍODO: 09/2011 - 03/2014-->
<!--          - Outros: Suporte de TI, manutenção, redes e etc.-->
        </nb-card-body>
      </nb-card>


    </div>
  </div>
</div>
